/*===== GOOGLE FONTS =====*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@font-face{
    font-family:steelbase;
    src:url(steelbase.woff2) format('woff2'),url(steelbase.woff) format('woff');
}

*{
    margin:0;padding:0;box-sizing:border-box;
   
}
body,html{
    font-family:Poppins,sans-serif;
    width:100%;
    min-height:100%;
    cursor:url(images/cursor.png),auto;
    scroll-behavior:smooth;
    background-size: 100%;
    overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: rgb(218, 5, 5);
  --second-color: #0e2431;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  padding-bottom: 10px;
  letter-spacing: 2px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: gray 0px 30px 60px -12px inset, teal 0px 18px 36px -18px inset;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
 
}
@media screen and (max-width: 768px) {
  
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
 

  body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-gradient-background-simple-image_557033.jpg");
    /* background-color: #aaaaaa; */
    background-repeat: no-repeat;
    background-attachment:scroll;  
    background-size: 100%;
  
  }

}


.nav-item {
  margin-bottom: var(--mb-4);
}
.nav-link {
  position: relative;
  color: #fff;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}
.nav-logo img {
  color: var(--second-color);
  font-weight: var(--font-semi);
  width: 2rem;
}
.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/

@keyframes example {
  from {
    background-color: black;
  }
  to {
    background-color: rgb(205, 9, 9);
  }
}

/* The element to apply the animation to */


#HOME {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210207/pngtree-gray-gradient-background-simple-image_557033.jpg");
  /* background-color: #aaaaaa; */
  background-repeat: no-repeat;

  background-attachment:scroll;  
  background-size: 100%;
  width: 100%;
  padding: 20px 0px 110px 0px;
  height: 100%;
  /* border: solid 1px red; */
  display: flex;
  /* margin-bottom:20px ; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
#HOME_LEFT{
  /* border: solid 1px red; */
  width: 25%;
  height: 100%;
  display: block;
  padding-top: 8%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
}

#HOME_RIGHT{
  /* border: solid 1px red; */
  width: 55%;
  height: 100%;
  display: block;
  justify-content: center;
  text-align: left;
  margin: auto;
  padding: 0px 20px 0px 95px;
}
.home_title {
  font-size: 300%;
  margin-bottom: var(--mb-5);
}
.home-title-color {
  color: var(--first-color);
}
.home_Profile{
  /* border:solid 1px #000; */
  margin-bottom: var(--mb-5);
  width: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}
.home_Profile>img{
  border-radius: 20px;
  width: 100%;
  
}
.home_social{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5%;
  /* border: solid 1px red; */
}
.home_social-icon {
  /* border: 1px solid red; */
  width: 40px;
  margin: 10% 5% 0px 0px;
  
}
.home_social-icon>img{
width: 100%;
}
.home_social-icon>img:hover{
transform: scale(1.1);
}

.home_social-icon img{
  transition: 1s;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.home_Profile>img:hover{
  transform: scale(1.1);
  }

  .home_Profile img {
    transition: 1s;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }



/* @media screen and (max-width: 1000px) {
  #HOME {
      padding: 50px 0px;
      max-width: 1024px;
  }
  
} */

/* #home_social-icon1{
    margin-left: 6%;
} */
/* .home_social-icon:hover,
.footer-icon:hover {
  color: var(--first-color);
} */
/* .home-img {
  position: absolute;
  top: 35%;
  left: 10%;
  right: 20%;
  bottom: 50%;
  width: 45%;

  
} */
/* .home-img>img{
border-radius: 30px;
width: 50%;
} */

/*BUTTONS*/
.button {
  display: inline-block;
  /* margin-bottom: var(--mb-2); */
  background-color: var(--first-color);
  /* border: 1px solid var(--first-color); */
  border: transparent;
  letter-spacing: 2px;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  animation-name: example;
  animation-duration: 4s;
}

.button:hover {
  background-color:rgb(45, 3, 3);
  /* color: white; */
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

#stats{
  width: 80%;
  /* border: 1px solid; */
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: auto;
}
.stat{
  margin: 10px;

}

@media screen and (max-width: 850px) {

  #stats{ 
   
    display: block;
    margin-top: 200px;
    
  }
  #HOME {
    
  
  
    background-repeat: repeat;
 
  }
}

@media screen and (max-width: 550px) {
  #stats{ 
    /* margin-left:200px; */
    display: block;
    margin-top:50px;
    margin-bottom: -100px;
  }
  #HOME {
    
    display: block;
    /* border: 1px solid red; */
    background-repeat: repeat;
    padding: 20px 0px 10px 0px;
  }
#stats{
  display: block;
}
  #HOME_RIGHT{
    width: 95%;
    padding: 0px;
    padding-top: 0px;
    text-align: center;
  }
  .home_title {
    font-size: 200%;
    margin-bottom: var(--mb-5);
  }
  .home-title-color {
    color: var(--first-color);
  }
  .button {
    
    margin: auto;
  }
  #HOME_LEFT{
   
    width: 70%;
    height: 70%;
    display: block;
    padding-top: 8%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
  }
  .home_Profile{
    /* border:solid 1px #000; */
    width: 70%;
    margin: auto;
   
  }
  .home_Profile>img{
    border-radius: 20px;
    width: 100%;
  }
  .home_social {
    display: flex;
   width: 40%;
   margin: auto;
  }
  .home_social-icon {
    /* border: 1px solid; */
    width: 50%;
  }
}
/* ===== ABOUT =====*/
section.about {
  padding: 5vh 15px;
}
.about-container {
  row-gap: 2rem;
  text-align: center;
}
.about-subtitle {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}
.about-img {
  justify-self: center;
}
.about-img img {
  width: 200px;
  border-radius: 0.5rem;
}
#name{
color: gray;
}
/* ===== SKILLS =====*/
.my_skills_section{
  padding:10%;
  text-align:center
}
.my_skills_section .container h2{
  font-size: var(--h2-font-size);
  font-weight:600;
  line-height:85px;
  text-align:center;
  margin-bottom:10px;
  margin-top: -120px;
}
.my_skills_section .container .skills{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(170px,1fr));
  grid-gap:20px;
  margin-top:10px
}
.my_skills_section .container .skills 
div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.123);
    border-radius:20px;
    height:130px;
    padding:15px 0;
    gap:10px;
    font-size:14px
}
.my_skills_section .container .skills 
div:hover{
  background-color:#f3f3f3
}.my_skills_section .container .skills 
h3{
  font-weight:400
}.my_skills_section .container .skills 
img{
  max-width:100px;
  max-height:50px;
  width:auto;
  height:auto
}

/* ===== Projects =====*/
.project-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 2rem; */
  width: calc(100% - 2rem);
  margin: auto;
}
.project-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-img img {
  transition: 1s;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.project-img img:hover {
  transform: scale(1.1);
}
.project-container p {
  margin: auto 1rem 1rem;
}
.project-title {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-3);
  font-size: var(--h2-font-size);
}
.project-subtitle {
  margin-bottom: var(--mb-4);
  padding-bottom: 3.5rem;
}
.small-btn {
  padding: 0.3rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.project-btns {
  position:relative;
  bottom: 0;
}


/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }
/* 
  .home {
    height: 100vh;
  } */
  .home-data {
    align-self: flex-end;
  }
  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home-img {
    width: 39%;
    max-width: 420px;
    bottom: 15%;
  }
  .about-container {
    align-items: center;
    margin: auto;
    width: 50%;
    transition: 0.5s;
  }
  /* .about-container {
    width: 50%;
  } */
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: initial;
  }
  .about-img img {
    width: 300px;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 3rem;
  }
  .contact-form {
    width: 360px;
  }
  .contact-container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 10%;
  }
}

/* on the web */
.on_the_web_section .container{
  text-align:center

}
.on_the_web_section{
  margin-bottom: 50px;
}
.on_the_web_section .container h2{
  font-size:35px;
  font-weight:600;
  line-height:85px;
  text-align:center;
  margin-top:50px;
  margin-bottom:10px
}
.on_the_web_section .container .icons_section{
  display:flex;
  gap:1px;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:80px;
  background-color:#e7e7e7
}
.on_the_web_section .container .icons_section>a{
  flex-basis:20%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px 0;
  gap:15px;
  background-color:#fff;flex-grow:1;
  cursor:pointer;
}
.on_the_web_section .container .icons_section>a:hover{
  background-color:#f8f8f8;
  color:var(--first-color);
}
.on_the_web_section .container .icons_section>a div{
  background-color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
}
.on_the_web_section .container .icons_section>a h4{
  
  color: #000;
  
}
.on_the_web_section .container .icons_section img{
  height:50px;
}


/* footer */





.skill{
  /* border: 1px solid; */
  width: 85%;
  margin: auto;
}

.my_skills_section .container .skills 
    div{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        box-shadow:0 2px 5px 0 rgba(0,0,0,.123);
        border-radius:20px;
        height:130px;
        padding:15px 0;
        gap:10px;
        font-size:14px;
       
    }
    .my_skills_section .container .skills div:hover{
      background-color:white;
      box-shadow:0 2px 5px 0 rgb(18, 1, 1);
    }
    .my_skills_section .container .skills h3{
      font-weight:400;
    }
    .my_skills_section .container .skills img{
      max-width:100px;
      max-height:50px;
      width:auto;
      height:auto;
    }

    footer{
      padding:60px 0 0 0;
      position:relative;
      z-index:0;
      background-color:black
    }
    footer .container .top_section{
      display:flex;
      color:#fff;
      padding:60px 100px;
      gap:50px;
    }
    footer .container a{
      color:#fff;
    }
    footer .container .top_section .left_section{
      flex-basis:40%;
      display:flex;
      flex-direction:column;
      gap:20px;
      align-items:flex-start;
      padding: 20px;
    }
    footer .container .top_section .left_section a{
      display:flex;
      gap:10px;
      align-items:flex-start;
    }
    footer .container .top_section .left_section img{
      filter:invert(1);
      height:20px;
      opacity:.5
    }
    footer .container .top_section .right_section form{
      flex-basis:60%;
      display:flex;
      flex-direction:column;
      gap:60px;
      align-items:flex-start;
    }
    footer .container .top_section .right_section form>div h5{
      font-size:28px;
      font-weight:300;
    }

    .left_section>h2{
      font-size:65px;
      font-weight:600;
      line-height:85px;
      text-align:center;
      /* margin-top:30px; */
      margin-bottom:10px;
    }
   
footer .container .top_section .right_section form>div h5:nth-child(2){
  position:relative;top:-10px;
}
footer .container .top_section .right_section form input::placeholder{
      color:#fff;
}
footer .container .button_style1{
          padding:12px 60px;
          letter-spacing:1px;
          font-size:20px;
          font-weight:500;
          border: transparent;
          border-radius: 10px;
          background-color:var(--first-color);
          color:#fff;
}
footer .container .button_style1:hover{
              background-color:rgb(124, 3, 3);
}
footer .bottom_section{
                  color:#fff;
                  display:flex;
                  padding: 0% 5%;
                  border-top:2px solid #1a1a1a;
                  justify-content:space-between;
                  align-items:center;
                  height:80px;
}
footer .bottom_section .left{
  color:#fff;opacity:.5;
}
footer .bottom_section .right{
  display:flex;
  gap:20px;
  justify-content:space-between;
  align-items:flex-end;
}
footer .bottom_section .right a{
  opacity:.5;
}
footer .bottom_section .right a:hover{
  opacity:1;
}
footer .bottom_section img{
  height:30px;
  
  filter:invert(1);
  
}

@media only screen and (max-width:767px){



.my_skills_section .container h2{font-size:10vw;line-height:10vw;margin-top:80px}
                                                
.my_skills_section .container .skills{margin-top:50px}
                                                
footer .container .top_section{
  flex-direction:column
}
footer .container .top_section{
  display:flex;
  color:#fff;
  padding:60px 20px;
  gap:50px
}
footer .container .top_section .left_section{
  flex-basis:40%;
  display:flex;
  flex-direction:column;gap:20px;align-items:center
}
footer .container .top_section .right_section form{
  flex-basis:60%;
  display:flex;
  flex-direction:column;
  gap:60px;
  align-items:center;
  text-align:center
}
footer .container .top_section .right_section form>div h5{
  font-size:22px;
  line-height:30px
}
footer .container .top_section .right_section form>div h5:nth-child(2){
  top:0;
  font-size:22px;
  line-height:30px
}
footer .bottom_section .left{
  color:#fff;opacity:.5
}
.heading{
  font-size:9vw;
  line-height:9vw
}
}





/* github calender */
.githubCalendarWrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  /* margin-bottom: -75px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* scale: 0.16; */
}

.gitHubCalendar{
  border-radius: 10px;
  margin: auto;
  align-items: center;
  padding: 20px 50px;
}
.gitHubCalendar:hover{
  box-shadow:0 2px 5px 0 rgb(18, 1, 1);
  /* text-align: center; */
  font-weight: bold;
  color: #000;
  
}
@media (max-width:768px) {
  .githubCalendarWrapper {
    margin-bottom: -175px;
    margin-top: -10px;
      scale: 0.7;
      padding-top: 80px;
      padding-bottom: 20px;
  }
}

@media (max-width:568px) {
  .githubCalendarWrapper {
      scale: 0.5;
      padding-top: 80px;
      padding-bottom: 20px;
  }
}

@media (max-width:368px) {
  .githubCalendarWrapper {
    /* display: block; */
      scale: 0.4;
      padding-top: 20px;
      padding-bottom: 20px;
  }
}
@media (max-width:280px) {
  .githubCalendarWrapper {
      scale: 0.3;
      padding-top: 30px;
      padding-bottom: 10px;
  }
}

@media (min-width:992px) {
  .githubCalendarWrapper {
      scale: 1.1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:  20px;
      padding-top: 120px;
      padding-bottom: 50px;
      /* border: 1px solid; */
      /* background-color:gray; */
  }
}
